input[type=number]{
    width: 70px;
}
input[type=search]{

}
.border-bottom {
    border-bottom: 1px solid #151313 !important;
}
.width-1{
    width: 200px;
}
.width-2{
    width: 150px;
}
.width-3{
    width: 100px;
}
.height-td{
    height: 50px;
}
button{
    height: 37px;
}